*{ 
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.body{
    text-align: center;
}

h1{
    text-align: center ;
    font-size: 35px;
    font-weight:bold;
    color: blue;
    padding: 30px;
}

p{
    font-size: 20px;
    font-weight: bold;
    text-align:center;
    padding: 20px;
}

#button{
font-size:20px ;
text-align: center;
font-size: 20px;
padding: 30px;
}

#submit:hover{

   background-color: #610757;
   color: white;
}

.btn:hover{
    background-color: rgb(105, 5, 94);
    color: rgb(238, 241, 242);
    font-size:20px;
    padding: 0px 12px 0px 12px;
    text-align: center;
}

#timer{
    float:right;
}

.question{
    text-align: center;
    align-items: center;
}

#questionHeader,ul
{
    padding-left: 10%;
    font-size:30px;
    font-weight: bolder;

}

li{
    list-style-type: none;
}

.questbtn{

    text-align: center;
    color: rgb(193, 20, 20);
    font-size: 20px;

}

#back{
    margin-left: 60px;
    display: inline-block;
  
}
 
#clearScores{
    margin-right: 60px;
    float:right;
}
#answers{

    font-size: 20px;
    color: rgb(255, 0, 0);
    padding-top: 10px;
    padding-left: 10%;
} 

#results{
    padding-left: 15%;
    font-size: 20px;
}

#highScore{
padding-top: none;
text-align: left;
}

#scoreList{

    font-size: 20px;

}

#highScoreBtn{
    margin-left:15%;
    margin-left:15%;
}


.row{
    text-align: center;
    align-items: center;
}

#allDone{
    padding-left: 20%;
}

